@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#loader {
	width: 100%;
	height: 100vh;
	background: rgb(1, 10, 20) url('../images/giphy.gif') no-repeat center;
	position: fixed;
	z-index: 99999;
}

.home {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	position: fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	max-width: 2000px;
	background-size: cover;
	background-position: center;
	overflow: auto;
}

/* Navbar Styling */

.nav-bar {
	background: rgb(0, 0, 0);
	width: 60px;
	height: 100%;
	position: fixed;
	top: 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
	min-height: 500px;
	box-shadow: 5px 5px 5px rgb(223, 3, 3);
}
.nav-bar nav {
	display: block;
	text-align: center;
}

.nav-bar nav a {
	font-size: 23px;
	color: royalblue;
	margin-bottom: 15px;
	display: block;
	line-height: 51px;
	height: 51px;
	position: relative;
	text-decoration: none;
}
.nav-bar nav a i {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav-bar nav a:hover i {
	opacity: 0;
}

.nav-bar nav a:after {
	content: '';
	font-size: 9px;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0px;
	font-weight: bold;
	display: block;
	width: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.nav-bar nav a:first-child:after {
	content: 'HOME';
	color: royalblue;
	font-family: 'Roboto', sans-serif;
}
.nav-bar nav a:first-child + a:after {
	content: 'ABOUT';
	color: royalblue;
	font-family: 'Roboto', sans-serif;
}
.nav-bar nav a:first-child + a + a:after {
	content: 'SKILLS';
	color: royalblue;
	font-family: 'Roboto', sans-serif;
}
.nav-bar nav a:first-child + a + a + a:after {
	content: 'MY WORK';
	color: royalblue;
	font-family: 'Roboto', sans-serif;
}
.nav-bar nav a:first-child + a + a + a + a:after {
	content: 'CONTACT';
	color: royalblue;
	font-family: 'Roboto', sans-serif;
}

.nav-bar nav a:hover:after {
	opacity: 1;
}

.nav-bar ul {
	display: block;
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}
.nav-bar ul li a {
	padding: 15px 0;
	display: block;
	font-size: 15px;
	line-height: 16px;
	color: royalblue;
	transition: 0.5s;
}
.nav-bar ul li a:hover {
	color: red;
}
.logo {
	display: block;
	padding: 8px 0;
}
.logo img {
	display: block;
	margin: 8px auto;
	width: 59px;
	height: auto;
}

/* Content Styling */

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 70px;
}

.work {
	width: 400px;
	overflow: hidden;
	position: relative;
	padding-left: 10px;
	margin-bottom: 25px;
	cursor: pointer;
}
.work img {
	width: 100%;
	object-fit: cover;
}

.main-title {
	color: #228dff;
	font-family: 'Iceland', cursive;
	font-size: 3.5rem;
	margin-bottom: 18px;
}
.main-title:hover {
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
	-moz-animation: neon 1.5s ease-in-out infinite alternate;
	animation: neon 1.5s ease-in-out infinite alternate;
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: black;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
	color: #22254b;
	padding: 0rem;
	right: 0;
	transform: translateY(102%);
	transition: transform 0.3s ease-in-out;
	overflow: auto;
	max-height: 100%;
	max-width: 400px;
}
.work:hover .info {
	transform: translateY(0%);
}

.info h3 {
	font-size: 30px;
	color: blue;
	font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
}

@keyframes neon {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
			0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
			0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
	}
}

@media (max-width: 365px) {
	.main-title {
		font-size: 2.5rem;
	}
}
